@{
    ViewData["Title"] = "Edição Concluída";
}

<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <strong>Sucesso!</strong> Os dados foram editados com sucesso.
    </div>

    <div>
        <a asp-controller="Account" asp-action="Index" class="btn btn-primary">Fazer Login</a>
    </div>
</div>
