@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Compromisso com a segurança e privacidade dos seus dados.</p>
</div>

<div class="container">
    <section>
        <h2>Introdução</h2>
        <p>No âmbito do projeto Checkpoint 2 para a disciplina ADVANCED BUSINESS DEVELOPMENT WITH .NET, a privacidade e segurança dos dados cadastrais e de uso dos usuários são prioridades. Este documento detalha como as informações pessoais são coletadas, usadas e protegidas.</p>
    </section>

    <section>
        <h2>Coleta de Dados</h2>
        <p>Os dados são coletados quando você insere informações ao registrar-se no sistema e ao utilizar nossos serviços. A coleta inclui, mas não se limita a:</p>
        <ul>
            <li>Nome completo</li>
            <li>Endereço de e-mail</li>
            <li>Telefone de contato</li>
        </ul>
    </section>

    <section>
        <h2>Uso dos Dados</h2>
        <p>Os dados coletados são utilizados para:</p>
        <ul>
            <li>Permitir acesso ao sistema e suas funcionalidades</li>
            <li>Realizar comunicações relacionadas a serviços fornecidos</li>
            <li>Melhorar a experiência do usuário e desenvolver novos serviços</li>
        </ul>
    </section>

    <section>
        <h2>Proteção dos Dados</h2>
        <p>Utilizamos medidas de segurança avançadas para proteger seus dados, incluindo:</p>
        <ul>
            <li>Armazenamento seguro de dados com criptografia</li>
            <li>Restrições de acesso a dados baseadas em necessidade de conhecimento</li>
            <li>Auditorias de segurança regulares</li>
        </ul>
    </section>

    <section>
        <h2>Compromisso de Transparência</h2>
        <p>Comprometemo-nos a manter você informado sobre como seus dados são utilizados e protegidos, e a responder a qualquer pergunta ou preocupação relacionada à sua privacidade.</p>
    </section>

    <section>
        <h2>Contato</h2>
        <p>Para mais informações sobre nossa política de privacidade, entre em contato pelo e-mail: privacidade@cp2.com.br</p>
    </section>
</div>

